<!--<div style="width: 100%; margin-left: auto; margin-right: auto">-->
<!--<pdf-viewer [src]="pdfSrc"-->
<!--            [render-text]="true"-->
<!--            [original-size]="true"-->
<!--            style="width: 85%; height: 90vh"-->
<!--            (click)="onClick($event)"-->
<!--            (pageChange)="page($event)"-->
<!--            (after-load-complete)="afterLoadComplete($event)"-->
<!--&gt;</pdf-viewer>-->
<!--</div>-->

<!--<label for="file">File:</label>-->
<!--<input type="file" (change)="upload($event)" accept=".png,.jpg,.pdf" />-->
<!--<progress max="100" [value]="(uploadProgress | async)"></progress>-->
<!--&lt;!&ndash;<div class="result" *ngIf="uploadURL | async; let uploadSrc">&ndash;&gt;-->
<!--&lt;!&ndash;  <a [href]="uploadSrc">You just uploaded this file!</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="container" *ngIf="downloadURL | async; let url">&ndash;&gt;-->
<!--&lt;!&ndash;  <img [src]="url" alt="Image from AngularFireStorage">&ndash;&gt;-->
<!--&lt;!&ndash;</div>`&ndash;&gt;-->
<!--<ngx-charts-bar-vertical-->
<!--  [view]="[1000,400]"-->
<!--  [results]="chartData"-->
<!--  [xAxisLabel]="'Page'"-->
<!--  [legendTitle]="'Product Sale Chart'"-->
<!--  [yAxisLabel]="'Time (second)'"-->
<!--  [legend]="true"-->
<!--  [showXAxisLabel]="true"-->
<!--  [showYAxisLabel]="true"-->
<!--  [xAxis]="true"-->
<!--  [yAxis]="true"-->
<!--  [gradient]="true">-->
<!--</ngx-charts-bar-vertical>-->
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/2vS7Ac6q5lHPN2lG9xDrjd?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/2vS7Ac6q5lHPN2lG9xDrjd?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/2vS7Ac6q5lHPN2lG9xDrjd?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/2vS7Ac6q5lHPN2lG9xDrjd?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/2vS7Ac6q5lHPN2lG9xDrjd?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
